$color: red;

.CardQlimax {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid $color;
}

h1 {

}

p {
    width: 100%;
    padding: 1rem;
}
